body {
  min-width: 640px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  padding:4em;
  max-width: 600px;
}


#roll-descriptor {
  font-size:21px;
  height:34px;
}

ul.roll-results {
  padding:0;
  margin:0;
}

ul.roll-results li {
  display:inline-block;
  padding:1em;
}

ul.roll-results li .num {
  font-size:55px;
  line-height:55px;
}

ul.roll-results li .den {
  font-size:35px;
  line-height:45px;
  color:#aaa;
  vertical-align:top;
}

.total-display { float:right; }

.total-display .msg {
  font-size:35px;
  line-height:45px;
  color:#aaa;
  vertical-align:top;
}

.total-display .total {
  font-size:55px;
  line-height:55px;
}

@media screen and (max-width: 670px){
  .container-narrow {
    width:99%;
    padding:2px;
  }
  #roll-descriptor {
    width: 520px;
  }
  ul.roll-results li .num,
  .total-display .total {
    font-size:20pt;
    line-height:20pt;
  }

  ul.roll-results li .den,
  .total-display .msg {
    font-size:15pt;
    line-height:15pt;
  }

}
